body {
  background: linear-gradient(to right, #7B1113, #8C161E, #9C1B2A, #AD1F35, #BD2440);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}


