body {
    background-image: url(/images/tntacting-small.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 1523px 700px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}